In [ ]:
 ALTER TABLE dbo.citadel ADD file_path CHAR(20) NULL;

docker run -e 'ACCEPT\_EULA=Y' -e 'SA\_PASSWORD=Scooby1#' -p 1433:1433 -d mcr.microsoft.com/mssql/server:2017-latest

docker exec -it keen\_nash /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P Scooby1#

https://sqlplayer.net/2019/12/using-sql-server-on-docker/  

https://hub.docker.com/r/dbeaver/cloudbeaver  

https://docs.microsoft.com/en-us/sql/relational-databases/tables/add-columns-to-a-table-database-engine?view=sql-server-ver15  

https://docs.microsoft.com/en-us/sql/t-sql/statements/disable-trigger-transact-sql?redirectedfrom=MSDN&view=sql-server-ver15  

[Create a Database - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/relational-databases/databases/create-a-database?view=sql-server-ver15)  

[Microsoft SQL Server (docker.com)](https://hub.docker.com/_/microsoft-mssql-server)  

[Download and install Azure Data Studio - Azure Data Studio | Microsoft Docs](https://docs.microsoft.com/en-us/sql/azure-data-studio/download-azure-data-studio?view=sql-server-ver15)  

[Docker: Install containers for SQL Server on Linux - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-docker?view=sql-server-ver15&pivots=cs1-bash)  

[Microsoft SQL Server (docker.com)](https://hub.docker.com/_/microsoft-mssql-server)

In [ ]:
                                                                                                                                                                                            CREATE TABLE citadel         (trade_date datetime, ext_acc INT, modified_by CHAR(7), currency char(7), amount float , modified_date datetime , file_path CHAR(20) NULL )
CREATE TABLE citadel_deleted (trade_date datetime, ext_acc INT, modified_by CHAR(7), currency char(7), amount float , modified_date datetime , file_path CHAR(20) NULL )

In [ ]:
INSERT INTO citadel VALUES ('1-jan-2021', 1111, 'xceptor', 'USD', 100, SYSDATETIME(), 'FILE1') 
INSERT INTO citadel VALUES ('1-feb-2021', 2222, 'xceptor', 'USD', 200, SYSDATETIME(), 'FILE1')
INSERT INTO citadel VALUES ('1-mar-2021', 3333, 'xceptor', 'USD', 300, SYSDATETIME(), 'FILE1')
INSERT INTO citadel VALUES ('1-apr-2021', 4444, 'xceptor', 'USD', 400, SYSDATETIME(), 'FILE1')
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'USD', 500, SYSDATETIME(), 'FILE1')
INSERT INTO citadel VALUES ('1-jun-2021', 6666, 'xdo', 'USD', 600, SYSDATETIME(), 'FILE1')                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
INSERT INTO citadel VALUES ('1-jul-2021', 7777, 'xdo', 'USD', 700, SYSDATETIME(), 'FILE1')

In [ ]:
DISABLE TRIGGER backup_citadel_deleted ON TestDB.dbo.citadel; 
DISABLE TRIGGER trig_delete_citadel ON TestDB.dbo.citadel;

In [ ]:
ENABLE TRIGGER backup_citadel_deleted ON TestDB.dbo.citadel; 
ENABLE TRIGGER trig_delete_citadel ON TestDB.dbo.citadel;

In [ ]:
SELECT * FROM citadel 
SELECT * FROM citadel_deleted

In [ ]:
SELECT * FROM citadel 
SELECT * FROM citadel_deleted

In [ ]:
CREATE OR ALTER TRIGGER trig_delete_citadel on TestDB.dbo.citadel
INSTEAD OF INSERT AS
SET NOCOUNT ON
BEGIN
DECLARE @xceptor char(7) = 'xceptor'
IF (SELECT COUNT(*) FROM citadel as cit
      INNER JOIN inserted ins
      ON cit.modified_by = @xceptor
      AND cit.ext_acc = ins.ext_acc 
      AND cit.trade_date = ins.trade_date
      AND cit.file_path  <> ins.file_path ) > 0 
BEGIN
	DELETE cit FROM citadel as cit
        INNER JOIN inserted ins
        ON cit.modified_by = @xceptor
        AND cit.ext_acc = ins.ext_acc 
        AND cit.trade_date = ins.trade_date
        AND cit.file_path  <> ins.file_path
END
INSERT INTO citadel SELECT * FROM inserted
END

In [ ]:
CREATE OR ALTER TRIGGER backup_citadel_deleted on TestDB.dbo.citadel
AFTER DELETE AS
SET NOCOUNT ON
BEGIN
INSERT INTO citadel_deleted SELECT * FROM deleted
END

In [ ]:
CREATE OR ALTER TRIGGER backup_citadel_deleted on TestDB.dbo.citadel
AFTER DELETE AS
SET NOCOUNT ON
BEGIN
INSERT INTO citadel_deleted SELECT * FROM deleted

DECLARE @xml NVARCHAR(MAX)
DECLARE @body NVARCHAR(MAX)

SET @xml = CAST(( SELECT [trade_date] AS 'td','',[ext_acc] AS 'td','', [file_path] AS 'td'
FROM deleted 
FOR XML PATH('tr'), ELEMENTS ) AS NVARCHAR(MAX))


SET @body ='<html><body><H3>Contact Info</H3>
<table border = 1> 
<tr>
<th> trade_date </th> <th> ext_acc </th> <th> file_path </th></tr>'    
 
SET @body = @body + @xml +'</table></body></html>'

EXEC msdb.dbo.sp_send_dbmail
@profile_name = 'SQL ALERTING', -- replace with your SQL Database Mail Profile 
@body = @body,
@body_format ='HTML',
@recipients = 'madhankumar388@gmail.com', -- replace with your email address
@subject = 'E-mail in Tabular Format' ;
END

In [ ]:
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'USD', 55356, SYSDATETIME(), 'FILEB')
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'AUD', 55356, SYSDATETIME(), 'FILEB')
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'ZAP', 55456, SYSDATETIME(), 'FILEB')
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'MOK', 55356, SYSDATETIME(), 'FILEB')
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'ZUL', 53556, SYSDATETIME(), 'FILEB')
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'XYZ', 55356, SYSDATETIME(), 'FILEB')

In [ ]:
INSERT INTO citadel VALUES ('1-may-2021', 5555, 'xceptor', 'USD', 55356, SYSDATETIME(), 'FILEZ')

In [ ]:
sp_configure 'show advanced options', 1;
GO
RECONFIGURE;
GO

In [ ]:
sp_configure 'Database Mail XPs', 1;
GO
RECONFIGURE
GO

In [ ]:
EXECUTE msdb.dbo.sysmail_add_account_sp  
    @account_name = 'Gmail',  
    @description = 'Mail account for sending outgoing notifications.',  
    @email_address = 'madhankumar388@gmail.com',  
    @display_name = 'Automated Mailer',  
    @mailserver_name = 'smtp.gmail.com',
    @port = 465,
    @enable_ssl = 1,
    @username = 'Use a valid e-mail address',
    @password = 'Use the password for the e-mail account above' ;  
GO